 table {
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            text-align: left;
        }

        .middle {
            margin: 20px auto;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }
		.left{
		text-align:left;
		}
/*  your css code here. If applicable */
